<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col">
        <ul class="contact-list">
          <li>James C. Holmes</li>
          <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          <li><a href="tel:{{ site.telephone }}">{{ site.telephone }}</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-col-wrapper">
      <div class="footer-col footer-disclaimers">
        <p class="text">{{ site.disclaimer }}</p>
        <p class="text">{{ site.disclaimer-2 }}</p>
      </div>
    </div>

  </div>

</footer>
